:root{
	--themeYellow: #FFE411;
	--themeBlue: #03A9F4;
	--themeBlueLight: #A1E2FF;
	--themeGreyOne: #404040;
	--themeGreyTwo: #808080;
	--themeGreyThree: #BFBFBF;
	--themeGreyFour: #DBDBDB;
	--themeBlueGrey: #F0F3F5;
	--themeBlueGreyDark: #DDE0E2;
	--footerHeight: 5.6rem;
}

html{
	font-size: 62.5%;
}

html, body{
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body{
	/*background-image: url(browser.png);*/
	background-repeat: no-repeat;
	background-position: center;
	/*background-size: cover;*/
	/*background-color: var(--themeYellow);*/
	font-family: "Microsoft YaHei", "Noto Sans CJK SC Regular", "Source Hans CJK SC";
	display: flex;
	flex-direction: column;
}

.main{
	display: flex;
	width: 100%;
	flex: auto;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	/*box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);*/
	overflow: hidden;
}

.content{
	position: relative;
	width: 70%
/*	display: flex;
	flex-direction: column;*/
}
.main .content .theme{
	color: var(--themeBlue);
	padding: 0 1.2rem 0 0.8rem;
	height: 2.6rem;
	font-size: 1.7rem;
	font-weight: bold;
	border-radius: 2.8rem;
	background-color: var(--themeBlueGrey);
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s linear;
	user-select: none;
}
.main .content .theme::before{
	content: "";
	width: 1.6rem;
	height: 1.6rem;
	margin-right: 0.4rem;
	box-sizing: border-box;
	border: 0.4rem solid var(--themeBlue);
	background-color: var(--themeBlueLight);
	border-radius: 50%;
	flex: none;
}
.main .content .theme:hover{
	background-color: var(--themeBlueGreyDark);
}

.main .content .text{
	font-size: 6rem;
	font-weight: bold;
	margin: 0.8rem 0;
	color: var(--themeGreyOne);
}

.main .content .post{
	display: flex;
	height: 4rem;
	align-items: center;
	font-size: 2.5rem;
	color: var(--themeGreyTwo);
}
.main .content .post .mark{
	color: var(--themeGreyFour);
	font-weight: bold;
	margin: 0 0.4rem;
	color: var(--themeYellow);
}
.main .content .post .author{
	position: relative;
	overflow: hidden;
	font-weight: bold;
}
.main .content .post .author::after{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0rem;
	height: 0.7rem;
	/*background-color: var(--themeYellow);*/
	z-index: -1;
}
.main .content .post .date{
	color: var(--themeGreyFour);
	margin-left: 0.6rem;
}
.main .content .post .date::before{
	content: "(";
}
.main .content .post .date::after{
	content: ")";
}

/*.main .content .charm{
	width: 9rem;
	height: 3.2rem;
	background-image: url(decoration.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: 0;
	right: 0;
}*/

.main .background{
	position: absolute;
	z-index: -1;
	opacity: 0.06;
	background-image: url(watermark.svg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	width: 30%;
	left: 52%;
	top: -6%;
	height: 90%;
}

.footer{
	height: var(--footerHeight);
	display: flex;
	justify-content: center;
}
.footer .content{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid var(--themeBlueGrey);
	box-sizing: border-box;
	font-size: 1.8rem;
}

.footer .calendar{
	position: relative;
	display: flex;
	align-items: center;
	font-weight: bold;
	color: var(--themeGreyTwo);
}
.footer .greeting{
	color: var(--themeGreyThree);
}

.footer .calendar .date{
	margin-right: 0.8rem;
}

.footer .calendar .bubble{
	position: absolute;
	margin: auto;
	left: 0; right: 0;
	top: -3.2rem;
	color: var(--themeGreyOne);
	background-color: var(--themeYellow);
	height: 2.4rem;
	border-radius: 2.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

/*.footer .calendar::hover::before{}*/